<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Publicación</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Crear Publicación</h1>
    <form action="/create" method="POST">
        <label for="title">Título:</label>
        <input type="text" name="title" required>
        <br>
        <label for="content">Contenido:</label>
        <textarea name="content" rows="4" required></textarea>
        <br>
        <label for="imageUrl">URL de la Imagen:</label>
        <input type="text" name="imageUrl">
        <br>
        <button type="submit">Crear Publicación</button>
    </form>
</body>
</html>
